<!-- Header -->

<%- include('include/_header')%>

<!-- /Header -->

    <!-- Main -->
    <main class="main-site">

        <div class="container-xl">
            <div class="adduser">
                <a href="/">
                    <i class="fas fa-angle-double-left"></i> All Users
                </a>
            </div>

            <div class="user-frm">
                <h5 align="center">New User</h5>
                <h6 class="mb-3" align="center">Use the Below form to create a new account</h6>

                <!-- form handling -->
               <%- include('include/_form')%>
                <!-- /form handling -->

            </div>

        </div>

    </main>
    <!-- /Main -->



<%- include('include/_footer')%>